<VirtualHost *:{{ httpd_port }}>
    ServerName {{ website_hostname }}
    DocumentRoot /var/www/html/{{ website_documentroot }}
    DirectoryIndex index.php index.html

    <Directory /var/www/html/{{ website_documentroot }}>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
